/* Author: Rafael Freitas
www.rafaelfreitas.info
@rafaelbfreitas */

@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
  margin: 0;
  margin-top: 70px;
  font-family: 'PT Sans', sans-serif;
}

.transparent {
  background-color: rgba(0, 0, 0, 0.7)
}

.max-viewport {
  min-height: 100vh;
}

#banner,
#contact,
#social {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0,0.3)), url('../img/banner.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}